### Import Libraries

In [1]:
import ndjson
import os
import pandas as pd

### Extract Tranquil Tweets

In [2]:
dfs = []

for file_name in [f for f in os.listdir("tranquil/") if f.endswith(".ndjson")]:
    file_path = os.path.join("tranquil/", file_name)
    df = pd.read_json(file_path, lines=True, nrows=100000)
    dfs.append(df)

In [3]:
combined_df = pd.concat(dfs, ignore_index=True)

In [4]:
combined_df.drop(columns=["id"], inplace=True)

In [5]:
combined_df.rename(columns={"relevance": "label"}, inplace=True)

In [6]:
combined_df.head()

                                                text  label
0  <NUMBER> sierra for a pioneer carplay radio, h...      0
1            if pizza didn't exist i wouldn't be fat      0
2       <HASHTAG> pelicans lead after <NUMBER> <URL>      0
3  fandoms unite <HASHTAG> missuniverse <HASHTAG>...      0
4  <USER> @jesscomedy i was trying to mess up the...      0

In [7]:
combined_df.tail()

                                                    text  label
99995             <USER> whatever floats your boat joebo      0
99996                         <USER> bj mana,amo tu tbm!      0
99997  <USER> @trillian <NUMBER> right because there'...      0
99998  wow even after the <HASHTAG> leafs trade <HASH...      0
99999                        <USER> wats good wit yu tho      0

In [8]:
combined_df.describe()

          label
count  100000.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0

In [9]:
combined_df.isnull().sum()

text     0
label    0
dtype: int64

In [10]:
combined_df.nunique()

text     88812
label        1
dtype: int64

In [11]:
combined_df.dtypes

text     object
label     int64
dtype: object

In [12]:
df = combined_df

### Removing Tags

In [13]:
tags = set(df["text"].str.findall(r"<\S+>").sum())
tags

{'<HASHTAG>', '<NUMBER>', '<REPEAT>', '<SMILE>', '<URL>', '<USER>'}

In [16]:
for tag in tags:
    df.loc[:, "text"] = df["text"].str.replace(tag, "")

In [17]:
set(df["text"].str.findall(r"<\S+>").sum())

set()

### Removing Links

In [18]:
tco_links = set(df["text"].str.findall(r"\S*t\.co\S*").sum())
len(tco_links)

1395

In [20]:
http_links = set(df["text"].str.findall(r"\S*http\S*").sum())
len(http_links)

1624

In [21]:
links = tco_links | http_links
len(links)

1686

In [22]:
for link in links:
    df.loc[:, "text"] = df["text"].str.replace(link, "")

In [23]:
set(df["text"].str.findall(r"\S*t\.co\S*").sum())

{'"t.co/',
 '(t.co/hwngc',
 '(t.co/mqjtov',
 '(t.co/msjzik',
 '(t.co/v',
 '(t.co/yqqv',
 '(video)t.co/xrsrgsz',
 '[t.co/yorefwng',
 '[tinychat.com]',
 'facebook&gt;&gt;&gt;t.co/',
 'here:t.co/wjne',
 'heywoodt.co/cccqcse‚Ä¶',
 'intonews.blogspot.com',
 'ladygagalyricsvault.com/lady-gaga-news/alice-cooper-pretends-to-throttle-lady-gaga',
 'somethingmeaningfulcreations.blogspot.com/',
 'statsheet.com/mcb/games',
 't.co',
 't.co/',
 't.co/aahgtrjn',
 't.co/afycslpgqt"',
 't.co/agvdwgotph‚Äù',
 't.co/ajzdph‚Ä¶',
 't.co/an',
 't.co/andtz‚Ä¶',
 't.co/aoznzulsmr‚Äù',
 't.co/ars‚Ä¶',
 't.co/a‚Ä¶',
 't.co/ccfzq',
 't.co/cd',
 't.co/cevigswzrl.',
 't.co/cfgtbht',
 't.co/cltssn‚Ä¶',
 't.co/coc',
 't.co/cwjwe‚Ä¶',
 't.co/deigil',
 't.co/diuyy',
 't.co/dm‚Ä¶',
 't.co/dq‚Ä¶',
 't.co/drhr',
 't.co/dsymr‚Ä¶',
 't.co/dtn',
 't.co/duvsuno‚Ä¶',
 't.co/dvbhlh',
 't.co/dx',
 't.co/d‚Ä¶',
 't.co/e',
 't.co/eabog‚Ä¶',
 't.co/egafi',
 't.co/ehfon',
 't.co/em',
 't.co/emqumyu‚Äù',
 't.co/envgfq',
 't.co/eoe',
 't.co/eray',
 't.co/esjbzatdss‚Ä¶',
 't.co/etpptogohs‚Äù',
 't.co/ev',
 't.co/eyx',
 't.co/e‚Ä¶',
 't.co/f',
 't.co/fbhm',
 't.co/fbvgnojleq‚Äù',
 't.co/fclnrvpiuv"‚Äù',
 't.co/fdf',
 't.co/feb',
 't.co/febwyat‚Ä¶',
 't.co/fga',
 't.co/fgb',
 't.co/fhjirn',
 't.co/fhmyedcook‚Äù',
 't.co/fklpfrc‚Ä¶',
 't.co/fljecxvm',
 't.co/fqmkaupz',
 't.co/fuuljlhzwg‚Äù',
 't.co/fuvphubwah‚Äù',
 't.co/fvtoyna‚Ä¶',
 't.co/fwv',
 't.co/fxftrk',
 't.co/fyifk‚Ä¶',
 't.co/fywjdn',
 't.co/f‚Ä¶',
 't.co/g',
 't.co/ggjcmkwcsf‚Äù',
 't.co/gi‚Ä¶',
 't.co/gnwzigrq',
 't.co/gtkf',
 't.co/gu',
 't.co/gulndxrmxj!',
 't.co/gwb',
 't.co/g‚Ä¶',
 't.co/hb',
 't.co/hc',
 't.co/hee',
 't.co/hfnmodxfby‚Äù',
 't.co/hfozzfqf',
 't.co/hjstz‚Ä¶',
 't.co/hjure‚Ä¶',
 't.co/hmyz‚Ä¶',
 't.co/ho',
 't.co/hoxriv‚Ä¶',
 't.co/ht',
 't.co/hxmkq',
 't.co/i',
 't.co/idkyz‚Ä¶',
 't.co/ih',
 't.co/ih‚Ä¶',
 't.co/iodn‚Ä¶',
 't.co/ir',
 't.co/itrcqv',
 't.co/izkwn',
 't.co/i‚Ä¶',
 't.co/j',
 't.co/jmrx',
 't.co/jomoorbuhs‚Äù@jmorrisey83',
 't.co/jq',
 't.co/jq‚Ä¶',
 't.co/jtihcd',
 't.co/jtklt‚Ä¶',
 't.co/jw',
 't.co/k',
 't.co/kdylgzsadj‚Äù',
 't.co/kfl',
 't.co/kfumw',
 't.co/klfy',
 't.co/kqa',
 't.co/ku',
 't.co/k‚Ä¶',
 't.co/lf',
 't.co/lfdjkw',
 't.co/lfzghw‚Ä¶',
 't.co/lhz',
 't.co/lkeymtbw‚Ä¶',
 't.co/llclx',
 't.co/lo',
 't.co/loxd',
 't.co/lpg',
 't.co/lredw‚Ä¶',
 't.co/ltoqvw‚Ä¶',
 't.co/m',
 't.co/mb',
 't.co/mc',
 't.co/medeqkqd‚Ä¶',
 't.co/mg‚Ä¶',
 't.co/mlk',
 't.co/moqu',
 't.co/mq‚Ä¶',
 't.co/msb',
 't.co/mwg‚Ä¶',
 't.co/mzd',
 't.co/n',
 't.co/nbl‚Ä¶',
 't.co/nd‚Ä¶',
 't.co/nq',
 't.co/nvtqatzqfe.',
 't.co/o',
 't.co/oa',
 't.co/oa‚Ä¶',
 't.co/obh',
 't.co/ojumgzrydn‚Äù',
 't.co/ok',
 't.co/omt',
 't.co/on',
 't.co/opxd',
 't.co/oq',
 't.co/oqu',
 't.co/ouw',
 't.co/oykx',
 't.co/o‚Ä¶',
 't.co/p',
 't.co/pgqya‚Ä¶',
 't.co/pkejbqskxn"2',
 't.co/pr',
 't.co/psgjetudrd"',
 't.co/p‚Ä¶',
 't.co/r',
 't.co/resc‚Ä¶',
 't.co/rggz‚Ä¶',
 't.co/rwaccmruic‚Äù',
 't.co/rz‚Ä¶',
 't.co/r‚Ä¶',
 't.co/s',
 't.co/sbmfflj‚Äù--&gt;&ya',
 't.co/se‚Ä¶',
 't.co/sojwxhzq‚Ä¶',
 't.co/soye',
 't.co/srtfq',
 't.co/sup',
 't.co/swkmjajqnd"',
 't.co/sxyqddnf‚Ä¶',
 't.co/tb',
 't.co/teswfesnpi‚ÄùlmfaooüòÇüòÇ',
 't.co/tmfmy‚Ä¶',
 't.co/tmo‚Ä¶',
 't.co/tqmxclcgxy"',
 't.co/tqvziu',
 't.co/ts',
 't.co/tws‚Ä¶',
 't.co/t‚Ä¶',
 't.co/v',
 't.co/vc‚Ä¶',
 't.co/ve',
 't.co/vkkiuct‚Ä¶',
 't.co/vklvx',
 't.co/vllwaa‚Ä¶',
 't.co/vnlhrvo',
 't.co/vos',
 't.co/vp',
 't.co/vvnb',
 't.co/vynicx',
 't.co/vysjdb',
 't.co/vy‚Ä¶',
 't.co/vzwcsn‚Ä¶',
 't.co/vzwic',
 't.co/v‚Ä¶',
 't.co/w',
 't.co/waztw',
 't.co/wbw',
 't.co/wfjhzp‚Ä¶',
 't.co/wwkwu',
 't.co/wypeafdl‚Ä¶',
 't.co/wzhd',
 't.co/wzmu‚Ä¶',
 't.co/xaavter',
 't.co/xbqyxzx',
 't.co/xcc‚Ä¶',
 't.co/xdda',
 't.co/xetvfa‚Ä¶',
 't.co/xjs‚Ä¶',
 't.co/xnibbnwspb"',
 't.co/xwjkawrngf‚Äùme',
 't.co/xzxbpho"&lt;--------yup',
 't.co/x‚Ä¶',
 't.co/y',
 't.co/yc‚Ä¶',
 't.co/ydmlu‚Ä¶',
 't.co/ye‚Ä¶',
 't.co/yfgh‚Ä¶',
 't.co/ykj‚Ä¶',
 't.co/yky‚Ä¶',
 't.co/ynqe‚Ä¶',
 't.co/yokpvww',
 't.co/ypobsfzivu',
 't.co/yq',
 't.co/yqoq',
 't.co/ytqlzjaq‚Ä¶',
 't.co/yvhvqbhg',
 't.co/ywioj‚Ä¶',
 't.co/z',
 't.co/zgalrhcv‚Ä¶',
 't.co/zhc‚Ä¶',
 't.co/zi‚Ä¶',
 't.co/zkkmfhv‚Ä¶',
 't.co/zmgeibnhni"',
 't.co/zoaadlwche‚Äù',
 't.co/zqeat‚Ä¶',
 't.co/zsdm',
 't.co/ztmhvqtmpe"',
 't.co/zybatk‚Ä¶',
 't.co/zyfjuj‚Ä¶',
 't.co/zzjrhumwlx‚Äù',
 't.co/‚Ä¶',
 't.co‚Ä¶',
 'this!t.co/ygh‚Ä¶',
 'www.greenhostit.com',
 'www.sftvuncut.com/-page',
 "‚û°Ô∏è‚û°Ô∏èt.co/jpchvuvylq‚¨ÖÔ∏è‚¨ÖÔ∏èit's",
 'üé∂üé∂üòªüëât.co/',
 'üëât.co/jbbwyd',
 'üëât.co/wy',
 'üëâüèºt.co/stz',
 'üëåüèº!üî•üé∂üî•üé∂t.co/hiae'}

In [24]:
set(df["text"].str.findall(r"\S*http\S*").sum())

set()

### Removing Invalid Whitespace

In [25]:
df.loc[:, "text"] = df["text"].str.replace(r"\s+", " ", regex=True).str.strip()

In [26]:
if df["text"].str.contains(r"\s\s").any():
    print("Error: Consecutive whitespace.")
if df["text"].str.count(r"\s").sum() != df["text"].str.count(" ").sum():
    print("Error: Non-space whitespace.")

### Writing Data

In [28]:
df.to_csv("tranquil/preprocessed_tranquil_tweets.csv", sep="\t", encoding="utf-16", index=False)